<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
<br>
<br>
<br>
  <div class="large-6 large-centered columns field">
    <%= f.label :name, :class => "submitrecipe" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="large-6 large-centered columns field">
    <%= f.label :serves, :class => "submitrecipe" %><br>
    <%= f.number_field :serves %>
  </div>
  <div class="large-6 large-centered columns field">
    <%= f.label :ingredients, :class => "submitrecipe"%><br>
    <%= f.text_area :ingredients %>
  </div>
  <div class="large-6 large-centered columns field">
    <%= f.label :directions, :class => "submitrecipe" %><br>
    <%= f.text_area :directions %>
  <div class="large-6 large-centered columns field">
  <div class="field">
    <%= f.label :imagefile, :class => "submitrecipe" %><br>
    <%= f.text_field :imagefile %>
  </div>
<center>
  <div class="actions">
    <%= f.submit :class => "small button radius createbutton2" %>
  </div>
<% end %>
