<p id="notice"><%= notice %></p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>
<table>
  <thead>
    <tr class="youreventstext">
      <th>Name</th>
      <th>Serves</th>
      <th>Ingredients</th>
      <th>Directions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.serves %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.directions %></td>
        <td class="youreventstext"><%= link_to 'Show', recipe %></td>
        <% if current_user.id == recipe.user_id %>
        <td class="youreventstext"><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td class="youreventstext"><%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
<br>

<%= link_to 'New Recipe', new_recipe_path %>
