require 'date'

<!-- tricia was here -->

<% if user_signed_in? %>
<br>
<br>
<br>
<br>
<div class="large-3 large-centered columns welcometext">
Welcome, <%= current_user.name %>!<br>
<% @current_user.events %>

</div>
<div class="large-10 large-centered columns welcometext">
<div class="eventshosting">
  <center>
  <table>
    <thead>
       <tr>
        <th colspan="4" class="youreventstext"><center>EVENTS HOSTING</center></th>
       </tr>
      <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Time</th>
        <th># RSVPed</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.date.strftime("%b %d, %Y") %></td>
          <td><%= event.time.strftime("%I:%M %p") %></td>
          <td><%= event.guest_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</center>

</div>

<div class="eventsattending">
  <center>
  <table>
    <thead>
      <tr>
        <th colspan="4" class="youreventstext"><center>EVENTS ATTENDING</center></th>
      </tr>
      <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Time</th>
        <th># RSVPed</th>
      </tr>
    </thead>

    <tbody>
   <% @rsvps.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.date.strftime("%b %d, %Y") %></td>
          <td><%= event.time.strftime("%I:%M %p") %></td>
          <td><%= event.guest_count %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</center>
</div>

<div class="eventsattending">
  <center>
  <table>
    <thead>
      <tr>
        <th colspan="1" class="youreventstext"><center>YOUR RECIPES</center></th>
      </tr>
      <tr>
        <th>Recipe Name</th>
      </tr>
    </thead>

    <tbody>
   <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</center>
</div>

</div>

<% else %>
  <div class="large-3 large-centered columns hero">
    <div class="ptpstory">
      <br><br><br>
       <center>
         <span class="headertext">PEACE THROUGH PIE</span>
         <hr>
         <span class="smalltext">IT ALL STARTED BACK IN</span><br>
         <span class="largetext">1995</span><br><br>
         <span class="smalltext">
           WHEN LUANNE STOVAL<br>
           DECIDED TO BAKE A BUTTERMILK<br>
           PIE ON THE MLK HOLIDAY.<br>
           <%= image_tag("mixingbowl.png", :size => "60x60")%><br>
           INSPIRED BY DR. KINGS SPEECH<br>
           SHE WROTE THE WORDS<br>
         </span>
         <span class="medtext">"I HAVE A DREAM"</span><br>
         <span class="smalltext">IN RED ICING ON TOP.</span><br>
         <%= image_tag("pen.png", :size => "40x40")%><br><br>
         <span class="readtext">READ THE FULL STORY...</span>
       </center>
    </div>
  </div>


  <div class="large-12 large-centered columns secondcontainer">
    <div class="large-11 large-centered columns secondcontainer2">
      <div class="socialtext">
        We celebrate by sharing stories, recipes, and<br>
        encouraging conversations that bring us together.<br><br>
        <span class="socialtext2">Join the peace movement and
        invite someone to the table.</span><br><br>

        <a href="#" class="button radius getstarted">GET STARTED</a>
      </div>
      <%= image_tag("ptpsocialimage.jpg", :class => "socialimage")%>
    </div>
  </div>


  <div class="large-12 large-centered columns thirdcontainer">
    <div class="large-11 large-centered columns thirdcontainer2">

      <div class="hosting">
        <hr>
        IT'S AS EASY AS PIE.
         <!--  These breaks are just holders for infographic. -->
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <hr>
      </div>
    </div>
  </div>

  <div class="large-9 large-centered columns">

    <center>
      <%= image_tag("foxnews.png", :width => "13%")%>&nbsp;&nbsp;&nbsp;
      <%= image_tag("statesman.png", :width => "21%")%>&nbsp;&nbsp;&nbsp;
      <%= image_tag("360logo.png", :width => "21%")%>&nbsp;&nbsp;&nbsp;
      <%= image_tag("morningjournal.png", :width => "21%")%>&nbsp;&nbsp;&nbsp;
      <%= image_tag("chronicle.png", :width => "16%")%>
    </center>
  </div>

<% end %>
