
  <%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<div class="eventform">
  <br>
  <br>
  <br>
  <br>
  <div class="large-6 large-centered columns field">
    <div class="large-1 columns">
    <i class="fa fa-edit"></i>
  </div>
    <div class="large-11 columns">
    <%= f.text_field :name, :placeholder => "Social Name", :class => "stay-on-line" %>
  </div>
  </div>

  <div class="large-6 large-centered columns field">
    <div class="large-1 columns">
    <i class="fa fa-calendar"></i>
  </div>
    <div class="large-11 columns">
    <%= f.date_select :date %>
  </div>
</div>

    <div class="large-6 large-centered columns field">
    <div class="large-1 columns">
    <i class="fa fa-clock-o"></i>
    </div>
    <div class="large-11 columns">
    <%= f.time_select :time %>
  </div>
</div>

  <div class="large-6 large-centered columns field">
    <div class="large-1 columns">
    <i class="fa fa-info-circle"></i>
    </div>
   <div class="large-11 columns">
    <%= f.text_area :description, :placeholder => "Give a brief description of your Social." %>
  </div>
</div>
  <div class="large-4 large-centered columns actions">
    <center><%= f.submit :class => "small button radius createbutton" %></center>
  </div>
<% end %>
</div>

