<div class="large-12 large-centered columns loginhero">
<br>
<br>
<br>
<br>
<br>
<br>
<%= render "devise/shared/fbook" %>
<br>
<br>

<div class="large-4 large-centered columns">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <div class="large-2 columns">
    <i class="fa fa-envelope"></i>
  </div>
    <div class="large-10 columns">
    <%= f.email_field :email, autofocus: true, :class => "formfieldstyle" %>
  </div>
  </div>
  <br>
</div>
  <br>
<div class="large-4 large-centered columns">
  <div class="field">
  <div class="large-2 columns">
    <i class="fa fa-lock"></i>
  </div>
  <div class="large-10 columns">
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>
</div>

<br>
<br><br>

  <% if devise_mapping.rememberable? -%>
  <div class="large-3 large-centered columns">
    <div class="field">
      <div class="large-1 columns rmeposition">
      <%= f.check_box :remember_me %>
    </div>
    <div class="large-7 columns rmeposition2">
      <%= f.label :remember_me %>
    </div>
    </div>
  <% end -%>
</div>
<center>
  <br>
  <br>
  <br>
  <div class="large-3 large-centered columns">
  <div class="actions">
    <%= f.submit "Log in", :class => "button radius fblogin" %>
  </div>
</center>
<% end %>
<%= render "devise/shared/links" %>
</div>



</div>
</div>
