<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<!-- Nav Wrap -->
<nav class="top-bar">
    <!-- The Section wrap -->
    <section class="top-bar-section">


        <!-- Left Nav Section -->
        <ul>
            <li><a href="http://www.google.com">EVENTS</a></li>
            <li><a href="#">RECIPES</a></li>
            <li><a href="#">BLOG</a></li>
            <li class="piepad"><%= image_tag("ptplogo.png", :size => "100x100")%></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">SIGN IN</a></li>
            <li><a href="#">SIGN UP</a></li>
        </ul>

        <!-- Right Nav Section -->

    </section>

</nav>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>